<<<<<<< HEAD:interface/public/aboutus.css

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(18, 18, 19) 0%, rgb(31, 31, 78) 35%, rgb(63, 20, 103) 70%,rgb(19, 11, 34) 100%);
}
h1 {
    font-family:	Arial
    Verdana
    Helvetica , Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #D46818;
   margin-top: 18%; 
   margin-left: 15%;
   text-decoration-style: dashed;
cursor:alias;

}


/* processor-3d-illustration-icon-png 1 */
svg {
position: absolute;
width: 368px;
height: 290px;
left: 1100px;
top: 200px;

background: url(processor-3d-illustration-icon-png.png);
transform: rotate(2deg);
}


  .topnav {
    background-color: #010232;
    overflow: hidden;
    margin-top: 0%;
  }
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration:solid;
    text-decoration: double;
    font-size: 22px;
  }
  .topnav a.active {
    background-color: #2D2F76 ;
    color: white;
  }
  @keyframes rotate {
    
  }
  nav {
    position: absolute;
    top: 10%;
    right: 0;
    left: 70%;
    width: 319px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
  }
  
  nav a {
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: right;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
  }
  
  nav a:before,
  nav a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
  }
  
  nav a:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
  }
  
  nav a:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
  }
  
  nav a:nth-child(1):before {
    background-color: rgb(151, 52, 187);
  }
  
  nav a:nth-child(1):after {
    background-color: rgb(54, 43, 126);
  }
  
  nav a:nth-child(2):before {
    background-color: rgb(151, 52, 187);
  }
  
  nav a:nth-child(2):after {
    background-color: rgb(54, 43, 126);
  }
  
  nav a:nth-child(3):before {
    background-color: rgb(151, 52, 187);
  }
  
  nav a:nth-child(3):after {
    background-color: rgb(54, 43, 126);
  }
  nav a:nth-child(4):before {
    background-color: rgb(151, 52, 187);
  }
  
  nav a:nth-child(4):after {
    background-color: rgb(54, 43, 126);
  }
  
  #indicator {
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  nav a:hover:before,
  nav a:hover:after {
    transform: scale(1);
  }
  
  nav a:nth-child(1):hover ~ #indicator {
    background: linear-gradient(130deg, rgb(151, 52, 187), rgb(78, 50, 179));
  }
  
  nav a:nth-child(2):hover ~ #indicator {
    left: 34%;
    background: linear-gradient(130deg, rgb(151, 52, 187), rgb(78, 50, 179));
  }
  
  nav a:nth-child(3):hover ~ #indicator {
    left: 50%;
    background: linear-gradient(130deg, rgb(151, 52, 187), rgb(78, 50, 179));
  }
  nav a:nth-child(4):hover ~ #indicator {
    left: 70%;
    background: linear-gradient(130deg, rgb(151, 52, 187), rgb(78, 50, 179));
  }
  

  .center{
    width: 100%;
    height: 100vh;
    display: top;
    justify-content: left;
    align-items: center;
    color: #fff;
    font-size: 100px;
    transition: opacity 2s;
    font-family: Calibri;
}

p{
    width: 70%;
    font-size: 70px;
    display: center;
    text-align: center;
    left: 40%;
}

#text{
    font-size: 30px;
    height: 80px;
    top: 60%;
    animation: an 1.5s ease-out 1 both;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}
.word {
  margin: auto;
  color: white;
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #6284a7, 2px 4px #a9bc39, 3px 5px #507aa4;
}

/*   LES MEMBRES */


.container {
  position: relative;
  width: 1160px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
}
.container .box {
  position: relative;
  width: 275px;
  height: 275px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
}
.container:hover .box {
  transform: rotateY(25deg);
}
.container .box:hover ~ .box {
  transform: rotateY(-25deg);
}
.container .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .box .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,rgb(214, 157, 228),#000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.container .box:hover .imgBx:before {
  opacity: 1;
}
.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}
.container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.container .box:hover .content h2 {
  transform: translateY(0px);
}
.container .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}
.container .box:hover .content p {
  transform: translateY(0px);
}
/* ************* */
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 40px;
  align-items: center;
}
.waviy span {
  font-family: 'Courier New', Courier, monospace;
    position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
=======

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(18, 18, 19) 0%, rgb(31, 31, 78) 35%, rgb(63, 20, 103) 70%,rgb(19, 11, 34) 100%);
}
h1 {
  font-family: 'Actor', sans-serif;
    color: #D46818;
   margin-top: 18%; 
   margin-left: 15%;
   text-decoration-style: dashed;
cursor:alias;

}


/* PROCESSSOR-3D-ICON */
svg {
position: absolute;
width: 600px;
height: 290px;
left: 1100px;
top: 200px;
size: 50px;

background: url(processor-3d-illustration-icon-png.png);
transform: rotate(2deg);
}

/*FIN PROCESSOR-3D-ICON*/ 

/* NAVIGATION BAR*/
  .topnav {
    background-color: #010232;
    overflow: hidden;
    margin-top: 0%;
  }
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration:solid;
    text-decoration: double;
    font-size: 22px;
  }
  .topnav a.active {
    background-color: #2D2F76 ;
    color: white;
  }
  @keyframes rotate {
    
  }
  nav {
    position: absolute;
    top: 10%;
    right: 0;
    left: 70%;
    width: 319px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
  }
  
  nav a {
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: right;
    color: #949494;
    text-decoration: none;
    font-family: 'Actor', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
    font-size: 25px;
  }
  
  nav a:before,
  nav a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
  }
  
  nav a:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
  }
  
  nav a:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
  }
  
  nav a:nth-child(1):before {
    background-color: rgb(151, 52, 187);
  }
  
  nav a:nth-child(1):after {
    background-color: rgb(54, 43, 126);
  }
  
  nav a:nth-child(2):before {
    background-color: rgb(151, 52, 187);
  }
  
  nav a:nth-child(2):after {
    background-color: rgb(54, 43, 126);
  }
  
  nav a:nth-child(3):before {
    background-color: rgb(151, 52, 187);
  }
  
  nav a:nth-child(3):after {
    background-color: rgb(54, 43, 126);
  }
  nav a:nth-child(4):before {
    background-color: rgb(151, 52, 187);
  }
  
  nav a:nth-child(4):after {
    background-color: rgb(54, 43, 126);
  }
  
  #indicator {
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: 0.2s ease left;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  nav a:hover:before,
  nav a:hover:after {
    transform: scale(1);
  }
  
  nav a:nth-child(1):hover ~ #indicator {
    background: linear-gradient(130deg, rgb(151, 52, 187), rgb(78, 50, 179));
  }
  
  nav a:nth-child(2):hover ~ #indicator {
    left: 34%;
    background: linear-gradient(130deg, rgb(151, 52, 187), rgb(78, 50, 179));
  }
  
  nav a:nth-child(3):hover ~ #indicator {
    left: 50%;
    background: linear-gradient(130deg, rgb(151, 52, 187), rgb(78, 50, 179));
  }
  nav a:nth-child(4):hover ~ #indicator {
    left: 70%;
    background: linear-gradient(130deg, rgb(151, 52, 187), rgb(78, 50, 179));
  }
  
/* FIN NAV BAR*/ 
  .center{
    width: 100%;
    height: 100vh;
    display: top;
    justify-content: left;
    align-items: center;
    color: #fff;
    font-size: 100px;
    transition: opacity 2s;
    font-family: 'Inter', sans-serif;
    margin:0;
    padding:0;
}

p{
    width: 70%;
    font-size: 70px;
    display: center;
    text-align: center;
    left: 40%;
    font-family: 'Inter', sans-serif;
    margin:0;
    padding:0;
}

#text{
    font-size: 30px;
    height: 80px;
    top: 60%;
    animation: an 1.5s ease-out 1 both;
    display: inline-block;
    font-family: 'Actor', sans-serif;
    color: #fff;
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}
.word {
  margin: auto;
  color: white;
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #6284a7, 2px 4px #a9bc39, 3px 5px #507aa4;
}

/*   LES MEMBRES */


.container {
  position: relative;
  width: 1160px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
  /*margin-top: 80px;*/
}
.container .box {
  position: relative;
  width: 275px;
  height: 275px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
}
.container .box {
  position: relative;
  width: 275px;
  height: 275px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
}

.container:hover .box {
  transform: rotateY(25deg);
}
.container .box:hover ~ .box {
  transform: rotateY(-25deg);
}
.container .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .box .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,rgb(214, 157, 228),#000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.container .box:hover .imgBx:before {
  opacity: 1;
}
.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: center;
  box-sizing: border-box;
}
.container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.container .box:hover .content h2 {
  transform: translateY(0px);
}
.container .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}
.container .box:hover .content p {
  transform: translateY(0px);
}
/* ************* */
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 40px;
  align-items: center;
}
.waviy span {
  font-family: 'Ator', Courier, monospace;
    position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.shape1{
position: absolute;
width: 417.61px;
height: 250.55px;
left: 1600.38px;
top: 200.4px;

background: #8579c1;
filter: blur(100px);
transform: matrix(-1, -0.03, 0.03, -1, 0, 0);

}
.shape2{
position: absolute;
width: 417.61px;
height: 250.55px;
left: 1600.38px;
top: 1800.4px;

background: #8f2b77;
filter: blur(140px);
transform: matrix(-1, -0.03, 0.03, -1, 0, 0);

}
.shape3{
position: absolute;
width: 417.61px;
height: 250.55px;
left: 0;
top: 1000.4px;

background: #8f2b77;
filter: blur(160px);
transform: matrix(-1, -0.03, 0.03, -1, 0, 0);

}
/*.shape4{ 
  position: absolute;
  width: 417.61px;
  height: 250.55px;
  left: 0;
  top:30px;
  
  background: #b4ace0;
  filter: blur(140px);
  transform: matrix(-1, -0.03, 0.03, -1, 0, 0);  
}*/
.logo{
  position: relative;
  margin-left: 150px;
  margin-top: 90px;
}
>>>>>>> d4da6f4421ac2536fadd0ea377368eec62206db2:interface/public/file1.css
