
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(18, 18, 19) 0%, rgb(31, 31, 78) 35%, rgb(63, 20, 103) 70%,rgb(19, 11, 34) 100%);
}
h1 {
  font-family: 'Actor', sans-serif;
    color: #D46818;
   margin-top: 18%; 
   margin-left: 15%;
   text-decoration-style: dashed;
cursor:alias;

}

/* PROCESSSOR-3D-ICON */
svg {
position: absolute;
width: 368px;
height: 290px;
left: 1100px;
top: 200px;

background: url(processor-3d-illustration-icon-png.png);
transform: rotate(2deg);
}

/*FIN PROCESSOR-3D-ICON*/ 

/* NAVIGATION BAR*/
  .topnav {
    background-color: #010232;
    overflow: hidden;
    margin-top: 0%;
  }
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration:solid;
    text-decoration: double;
    font-size: 22px;
  }
  .topnav a.active {
    background-color: #2D2F76 ;
    color: white;
  }
  @keyframes rotate {
    
  }
  nav {
    position: absolute;
    top: 10%;
    right: 0;
    left: 70%;
    width: 319px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
  }
  
  nav a {
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: right;
    color: #949494;
    text-decoration: none;
    font-family: 'Actor', sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
    font-size: 25px;
  }
  
  nav a:before,
  nav a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
  }
  
  nav a:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
  }
  
  nav a:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
  }
  
  nav a:nth-child(1):before {
    background-color: rgb(151, 52, 187);
  }
  
  nav a:nth-child(1):after {
    background-color: rgb(54, 43, 126);
  }
  
  nav a:nth-child(2):before {
    background-color: rgb(151, 52, 187);
  }
  
  nav a:nth-child(2):after {
    background-color: rgb(54, 43, 126);
  }
  
  nav a:nth-child(3):before {
    background-color: rgb(151, 52, 187);
  }
  
  nav a:nth-child(3):after {
    background-color: rgb(54, 43, 126);
  }
  nav a:nth-child(4):before {
    background-color: rgb(151, 52, 187);
  }
  
  nav a:nth-child(4):after {
    background-color: rgb(54, 43, 126);
  }
  
  #indicator {
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: 0.2s ease left;
  }
  
  nav a:hover {
    color: #fff;
  }
  
  nav a:hover:before,
  nav a:hover:after {
    transform: scale(1);
  }
  
  nav a:nth-child(1):hover ~ #indicator {
    background: linear-gradient(130deg, rgb(151, 52, 187), rgb(78, 50, 179));
  }
  
  nav a:nth-child(2):hover ~ #indicator {
    left: 34%;
    background: linear-gradient(130deg, rgb(151, 52, 187), rgb(78, 50, 179));
  }
  
  nav a:nth-child(3):hover ~ #indicator {
    left: 50%;
    background: linear-gradient(130deg, rgb(151, 52, 187), rgb(78, 50, 179));
  }
  nav a:nth-child(4):hover ~ #indicator {
    left: 70%;
    background: linear-gradient(130deg, rgb(151, 52, 187), rgb(78, 50, 179));
  }
  
/* FIN NAV BAR*/ 
  .center{
    width: 100%;
    height: 100vh;
    display: top;
    justify-content: left;
    align-items: center;
    color: #fff;
    font-size: 100px;
    transition: opacity 2s;
    font-family: 'Inter', sans-serif;
    margin:0;
    padding:0;
}

p{
    width: 70%;
    font-size: 70px;
    display: center;
    text-align: center;
    left: 40%;
    font-family: 'Inter', sans-serif;
    margin:0;
    padding:0;
}

#text{
    font-size: 30px;
    height: 80px;
    top: 60%;
    animation: an 1.5s ease-out 1 both;
    display: inline-block;
    font-family: 'Actor', sans-serif;
    color: #fff;
    margin-left: 100px;
}
#text1{
  font-size: 45px;
  height: 80px;
  margin-top: 250px;
  animation: an 1.5s ease-out 1 both;
  display: inline-block;
  font-family: 'Actor', sans-serif;
  color: #fff;
}
#text2{
  font-size: 45px;
  height: 80px;
  margin-top: 800px;
  animation: an 1.5s ease-out 1 both;
  display: inline-block;
  font-family: 'Actor', sans-serif;
  color: #fff; 
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}


.shape1{
position: absolute;
width: 417.61px;
height: 250.55px;
left: 1600.38px;
top: 200.4px;

background: #8579c1;
filter: blur(100px);
transform: matrix(-1, -0.03, 0.03, -1, 0, 0);

}
.shape2{
position: absolute;
width: 417.61px;
height: 250.55px;
left: 1600.38px;
top: 1800.4px;

background: #8f2b77;
filter: blur(140px);
transform: matrix(-1, -0.03, 0.03, -1, 0, 0);

}
.shape3{
position: absolute;
width: 417.61px;
height: 250.55px;
left: 0;
top: 1000.4px;

background: #8f2b77;
filter: blur(160px);
transform: matrix(-1, -0.03, 0.03, -1, 0, 0);

}
.shape4{ 
    position: absolute;
    width: 417.61px;
    height: 250.55px;
    left: 0;
    top:0px;
    
    background: #8579c1;
    filter: blur(160px);
    transform: matrix(-1, -0.03, 0.03, -1, 0, 0);  
}
.shape5{
  position: absolute;
width: 417.61px;
height: 250.55px;
left: 1600.38px;
top: 3400.4px;

background: #8579c1;
filter: blur(150px);
transform: matrix(-1, -0.03, 0.03, -1, 0, 0);
}
.shape6{
  position: absolute;
width: 417.61px;
height: 250.55px;
left: 0px;
top: 3000.4px;

background: #8f2b77;
filter: blur(150px);
transform: matrix(-1, -0.03, 0.03, -1, 0, 0);
}
.shape7{
  position: absolute;
width: 417.61px;
height: 250.55px;
left: 0px;
top: 4200.4px;

background: #8f2b77;
filter: blur(150px);
transform: matrix(-1, -0.03, 0.03, -1, 0, 0);
}
.logo{
  position: relative;
  margin-left: 150px;
  margin-top: 90px;
}



/* les CARTES */ 
.card1{
  width: 300px;
  height: 400px;
  background-color: #331766;
  border-radius: 15px;
  margin-top: 0px;
  margin-left: 100px;
  
}
.card11{
  width: 300px;
  height: 250px;
  background-color: #1e1f47;
  border-radius: 15px;
  margin-top: 0px;
  margin-left: 0px;
  background-image: url(img1-removebg-preview.png);
  background-size: 90%;
}
.card2{
  width: 300px;
  height: 400px;
  background-color: #331766;
  border-radius: 15px;
  margin-top: 0px;
  margin-left: 150px;
}
.card22{
  width: 300px;
  height: 250px;
  background-color: #1e1f47;
  border-radius: 15px;
  margin-top: 0px;
  margin-left: 0px;
  background-image: url(img2.png);
  background-repeat: no-repeat;
  background-size: 90%;
}
.card3{
  width: 300px;
  height: 400px;
  background-color: #331766;
  border-radius: 15px;
  margin-top: 0px;
  margin-left: 200px;
}
.card33{
  width: 300px;
  height: 250px;
  background-color: #1e1f47;
  border-radius: 15px;
  margin-top: 0px;
  margin-left: 0px;
  background-image: url(img3-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: 90%;
}

.para{
  margin-left: 50px;
}
.cardcontain{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0px;
}
.card1 button{
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 40px;
  background: #6b64f3;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.card2 button{
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 40px;
  background: #6b64f3;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.card3 button{
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 40px;
  background: #6b64f3;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
#archi{
  width: 1500px;
  height: 950px;
  background-color: #331766;
  border-radius: 20px;
  margin-left: 150px;
  background-image: url(archii.png);
  background-size: 100%;
  margin-bottom: 10px;
}
.learnmore button{
  border-radius: 8px;
  border: 2px white;
  margin-top: 100px;
  background: #7c5b9d;
  color: white;
  font-weight: 600;
  width: 150px;
  height: 50px;
  margin-top: 25px;
  margin-left: 1500px;
  border: #f2f2f2;
}
#pcontain1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.gap{
  margin-top: 50px;
}
.pcontain2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.p1{
  width: 300px;
  height: 180px;
  background-color: #221146;
  border-radius: 25px;
  margin-top: 0px;
  margin-left: 100px; 
}
.p2{
  width: 300px;
  height: 180px;
  background-color: #221146;
  border-radius: 25px;
  margin-top: 0px;
  margin-left: 120px;
}
.p3{
  width: 300px;
  height: 180px;
  background-color: #221146;
  border-radius: 25px;
  margin-top: 0px;
  margin-left: 180px;
}
.special{
  font-size: 30px;
  color: #f2f2f2;
  margin-top: 50px;
}
.p1  button{
  border-radius: 8px;
  border: 2px white;
  margin-top: 100px;
  background: #ac99e8;
  color: white;
  font-weight: 600;
  width: 150px;
  height: 50px;
  margin-top: 25px;
  margin-left: 100px;
  border: #f2f2f2;
}
.p2  button{
  border-radius: 8px;
  border: 2px white;
  margin-top: 100px;
  background: #ac99e8;
  color: white;
  font-weight: 600;
  width: 150px;
  height: 50px;
  margin-top: 25px;
  margin-left: 100px;
  border: #f2f2f2;
}
.p3 button{
  border-radius: 8px;
  border: 2px white;
  margin-top: 100px;
  background: #ac99e8;
  color: white;
  font-weight: 600;
  width: 150px;
  height: 50px;
  margin-top: 25px;
  margin-left: 100px;
  border: #f2f2f2;
}
.simulation{
  width: 1500px;
  height: 1100px;
  background-color: #331766;
  border-radius: 20px;
  margin-left: 150px;
  background-size: 100%;
  margin-top: 30px;
}
.buttoncontain{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
}
.files button{
  border-radius: 8px;
  border: 2px white;
  margin-top: 100px;
  background: #331766;
  color: white;
  font-weight: 600;
  width: 150px;
  height: 50px;
  margin-top: 25px;
  /*margin-left: 100px;*/
  border: #f2f2f2;
}
.compile button{
  border-radius: 8px;
  border: 2px white;
  margin-top: 100px;
  background: #331766;
  color: white;
  font-weight: 600;
  width: 150px;
  height: 50px;
  margin-top: 25px;
  /*margin-left: 100px;*/
  border: #f2f2f2;
}
.run button{
  border-radius: 8px;
  border: 2px white;
  margin-top: 100px;
  background: #331766;
  color: white;
  font-weight: 600;
  width: 150px;
  height: 50px;
  margin-top: 25px;
 /* margin-left: 150px;*/
  border: #f2f2f2;
}
.simulate button{
  border-radius: 8px;
  border: 2px white;
  margin-top: 100px;
  background: #331766;
  color: white;
  font-weight: 600;
  width: 150px;
  height: 50px;
  margin-top: 25px;
  /*margin-left: 100px;*/
  border: #f2f2f2;
}
.help button{
  border-radius: 8px;
  border: 2px white;
  margin-top: 100px;
  background: #331766;
  color: white;
  font-weight: 600;
  width: 150px;
  height: 50px;
  margin-top: 25px;
  /*margin-left: 100px;*/
  border: #f2f2f2;
}
.cardtext p{
 margin-top: 10px; 
 margin-left: 20px;
 font-size: 25px;
 color: white;
}



/* Select style here */
.brd {
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

#info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #2d3667;
  font-size: 16px;
  text-align: center;
  padding: 14px;
  background-color: #f3f9f9;
}

#app-cover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 300px;
  height: 42px;
  margin: 100px auto 0 auto;
  z-index: 1;
}

#select-button {
  position: relative;
  height: 16px;
  padding: 12px 14px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

#options-view-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

#selected-value {
  font-size: 16px;
  line-height: 1;
  margin-right: 26px;
}

.option i {
  width: 16px;
  height: 16px;
}

.option,
.label {
  color: #2d3667;
  font-size: 16px;
}

#chevrons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  padding: 9px 14px;
}

#chevrons i {
  display: block;
  height: 50%;
  color: #d1dede;
  font-size: 12px;
  text-align: right;
}

#options-view-button:checked + #select-button #chevrons i {
  color: #2d3667;
}

.options {
  position: absolute;
  left: 0;
  width: 250px;
}

#options {
  position: absolute;
  top: 42px;
  right: 0;
  left: 0;
  width: 298px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 4px;
}

#options-view-button:checked ~ #options {
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.option {
  position: relative;
  line-height: 1;
  transition: 0.3s ease all;
  z-index: 2;
}

.option i {
  position: absolute;
  left: 14px;
  padding: 0;
  display: none;
}

#options-view-button:checked ~ #options .option i {
  display: block;
  padding: 12px 0;
}

.label {
  display: none;
  padding: 0;
  margin-left: 27px;
}

#options-view-button:checked ~ #options .label {
  display: block;
  padding: 12px 14px;
}

.s-c {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
}

.s-c.top {
  top: 0;
}

.s-c.bottom {
  bottom: 0;
}

input[type="radio"] {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 50%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.s-c:hover ~ i {
  color: #fff;
  opacity: 0;
}

.s-c:hover {
  height: 100%;
  z-index: 1;
}

.s-c.bottom:hover + i {
  bottom: -25px;
  animation: moveup 0.3s ease 0.1s forwards;
}

.s-c.top:hover ~ i {
  top: -25px;
  animation: movedown 0.3s ease 0.1s forwards;
}

@keyframes moveup {
  0% {
    bottom: -25px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes movedown {
  0% {
    top: -25px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.label {
  transition: 0.3s ease all;
}

.opt-val {
  position: absolute;
  left: 14px;
  width: 217px;
  height: 21px;
  opacity: 0;
  background-color: #fff;
  transform: scale(0);
}

.option input[type="radio"]:checked ~ .opt-val {
  opacity: 1;
  transform: scale(1);
}

.option input[type="radio"]:checked ~ i {
  top: 0;
  bottom: auto;
  opacity: 1;
  animation: unset;
}

.option input[type="radio"]:checked ~ i,
.option input[type="radio"]:checked ~ .label {
  color: #fff;
}

.option input[type="radio"]:checked ~ .label:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#options-view-button:not(:checked)
  ~ #options
  .option
  input[type="radio"]:checked
  ~ .opt-val {
  top: -30px;
}

.option:nth-child(1) input[type="radio"]:checked ~ .label:before {
  background-color: #000;
  border-radius: 4px 4px 0 0;
}

.option:nth-child(1) input[type="radio"]:checked ~ .opt-val {
  top: -31px;
}

.option:nth-child(2) input[type="radio"]:checked ~ .label:before {
  background-color: #ea4c89;
}

.option:nth-child(2) input[type="radio"]:checked ~ .opt-val {
  top: -71px;
}

.option:nth-child(3) input[type="radio"]:checked ~ .label:before {
  background-color: #0057ff;
}

.option:nth-child(3) input[type="radio"]:checked ~ .opt-val {
  top: -111px;
}

.option:nth-child(4) input[type="radio"]:checked ~ .label:before {
  background-color: #32c766;
}

.option:nth-child(4) input[type="radio"]:checked ~ .opt-val {
  top: -151px;
}

.option:nth-child(5) input[type="radio"]:checked ~ .label:before {
  background-color: #f48024;
}

.option:nth-child(5) input[type="radio"]:checked ~ .opt-val {
  top: -191px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .label:before {
  background-color: #006400;
  border-radius: 0 0 4px 4px;
}

.option:nth-child(6) input[type="radio"]:checked ~ .opt-val {
  top: -231px;
}

.option .fa-codepen {
  color: #000;
}

.option .fa-dribbble {
  color: #ea4c89;
}

.option .fa-behance {
  color: #0057ff;
}

.option .fa-hackerrank {
  color: #32c766;
}

.option .fa-stack-overflow {
  color: #f48024;
}

.option .fa-free-code-camp {
  color: #006400;
}

#option-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  transition: 0.3s ease all;
  z-index: 1;
  display: none;
}

#options-view-button:checked ~ #options #option-bg {
  display: block;
}

.option:hover .label {
  color: #fff;
}

.option:nth-child(1):hover ~ #option-bg {
  top: 0;
  background-color: #000;
  border-radius: 4px 4px 0 0;
}

.option:nth-child(2):hover ~ #option-bg {
  top: 40px;
  background-color: #ea4c89;
}

.option:nth-child(3):hover ~ #option-bg {
  top: 80px;
  background-color: #0057ff;
}

.option:nth-child(4):hover ~ #option-bg {
  top: 120px;
  background-color: #32c766;
}

.option:nth-child(5):hover ~ #option-bg {
  top: 160px;
  background-color: #f48024;
}

.option:nth-child(6):hover ~ #option-bg {
  top: 200px;
  background-color: #006400;
  border-radius: 0 0 4px 4px;
}
